# Ignore everything
/*

# But not these files...
!.gitignore
!package.png
!/_Script
!/_Scripts
!/_Data
!/_Scenes
!/_UI


# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
